@page
@model ProyectoPropio.Views.SerieViews.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Serie[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Serie[0].Season)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Serie[0].ActualEpisode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Serie[0].TotalOfEpisode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Serie[0].NetflixURL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Serie[0].ImagePath)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Serie) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Season)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActualEpisode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalOfEpisode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NetflixURL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImagePath)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
