@model IEnumerable<ProyectoPropio.Models.Serie>

@{
  ViewData["Title"] = "Home Page";
}

<div class="text-center">
  <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      @foreach (var item in Model)
      {
        <div class="d-flex justify-content-center carousel-item @(Model.First() == item ? "active" : "")">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="@item.ImagePath" aalt="@item.Name">
            <div class="card-body">
              <h5 class="card-title">@item.Name</h5>
            </div>
            @if (item.Dia != null)
            {
              <p>Day: @item.Dia.Name</p>
            }
            else
            {
              <p>No day assigned</p>
            }
           
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Season: @item.Season</li>
              <li class="list-group-item">Episode: @item.ActualEpisode</li>
              <li class="list-group-item">Total of Episodes: @item.TotalOfEpisode</li>
            </ul>
            <div class="card-body">
               <p>
              <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info">Details</a>
            </p>
            </div>
          </div>
            
          </div>
      }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
